<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.ReplyMapper">

<insert id="repboardWrite">

insert into tb1_reply(bno, replytext, replyer, regdate) 
values(#{bno}, #{replytext}, #{replyer}, sysdate());

</insert>



<update id="repboardModify">

update tb1_reply
set replytext=#{replytext}, updatedate = sysdate() where rno=#{rno}; 
</update>

<select id="repboardList" resultType="com.model.ReplyVO">

select * from tb1_reply
where bno=#{bno};


</select>
<!-- 페이징처리 -->
<select id="repboardListPage" resultType="com.model.ReplyVO">

select* 
from(
		select @rownum:=@rownum+1 as rownum, rno, bno, replytext, replyer, regdate, updatedate
		from(select @rownum:=0) as rownum, tb1_reply
<!--		<if test="bno != null">-->
		where bno = #{bno} 
	<!--	</if> -->
		order by rno desc
	) tb1_reply
<![CDATA[	
		where rownum >(#{cri.pageNum}-1)*#{cri.amount} and rownum<=#{cri.pageNum}*#{cri.amount} 
	]]>

</select>

<!-- 댓글갯수 -->
	<select id="Repcount" resultType="int">
	<![CDATA[
		select count(*) from tb1_reply
	]]>
		<!--<if test="bno != null">-->
		where bno = #{bno}
		<!--</if>-->
	
	
	</select>





<delete id="repboardDel">
delete from tb1_reply
where rno=#{rno};
</delete>





</mapper>